<<<<<<< HEAD
.loading {
  position: fixed;
  top: 5px;
  right: 5px;
=======
body {
  background-color: powderblue;
}

li {
  margin-top: 8px;
}

li.post-title {
  cursor: pointer;
}

li.post-title:hover {
  opacity: 0.6;
}

div.pages {
  display: flex;
  justify-content: space-between;
  width: 100%;
>>>>>>> 112966e63f27934bdf612f40532fd83e84c90c18
}
